body{
    background-color: rgba(32, 31, 31, 0.815);
}


.toptitle{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
    color:black;
}

h1{
    text-align:center;
    font-size: 60px;
    
}

.quote{
background-color: rgba(128, 128, 128, 0.432);
border-style: solid;
border-radius: 60px;
min-height: 200px;
}



#quote{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: black;  
    
}

#author{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
    text-align: center;
    
}

#newQuote{
    border-radius: 50px;
    background-color: rgba(53, 48, 48, 0.815);
    border-style: solid;
    border-color: rgba(53, 48, 48, 0.815);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin: 25px;
    width: 250px;
}

.buttom{
    text-align: center;
}

.quote>a{
    color:black;
}